
/* Your CSS Code here. */
.holder{
	display:flex;
	justify-content:center;
	align-content:center;
	height:100vw;
	width:100vh;
}
.item-1{
	justify-content:center;
	align-content:center;
	width:100px;
	height:100px;
}